<section class="py-5 bg-light pb-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 mb-4 mb-md-0 text-center text-md-start">
        <h2 class="display-5 fw-bold title mb-4">
          Планировать посылки удобнее в приложении BlaBlaGruz
        </h2>
        <div class="d-flex justify-content-center justify-content-md-start gap-3 mb-3">
          <button class="btn btn-outline shadow-sm border-0 store-button" (click)="openAppStore()">
            <i class="bi bi-apple" style="font-size: 3.5rem;"></i>
          </button>
          <button class="btn btn-outline shadow-sm border-0 store-button" (click)="openGooglePlay()">
            <i class="bi bi-google-play" style="font-size: 3.5rem;"></i>
          </button>
        </div>
        <p class="description">
          С BlaBlaGruz перевозка грузов становится проще, быстрее и безопаснее. Попробуйте наше приложение и убедитесь
          сами!
        </p>
      </div>

      <div class="col-12 col-md-6 text-center">
        <div class="phone-container mx-auto text-center">
          <div class="phone-frame position-relative">
            <div class="phone-notch mx-auto"></div>

            <div class="d-flex flex-row align-items-center">
              <div class="phone-back-arrow">
                <i class="bi bi-chevron-left" style="font-size: 1.5rem; color: #31357B;"></i>
              </div>

              <div class="phone-logo mt-3 m-auto">
                <img src="assets/img/logo.svg" alt="BlaBlaGruz Logo" style="height: 50px;"/>
              </div>
            </div>

            <div class="qr-code-container mt-4">
              <img src="assets/img/qr-code.svg" alt="QR Code" class="img-fluid rounded"
                   style="width: 150px; height: 150px;"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
