.footer {
  background-color: #CCCFDF;
  width: 100%;
  height: auto;
  padding: 40px;
  color: #787EA1
}

footer button {
  background: #DDDDEB
}

footer button i {
  color: #2D2D2E;
}

footer h6 {
  font-style: italic;
}

.custom-logo {
  color: #787EA1;
}
