.route-card {
  background-color: #F9F9FF;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rating-badge {
  position: relative;
  width: 100px;
  height: 50px;
}

.rating-value {
  font-family: IntroBlackItalic, serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.36px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.rating-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.rating-icon {
  margin-right: 5px;
  font-size: 20px;
}

.line-result {
  min-width: 35px;
  padding-left: 5px;
  padding-right: 5px;
}

.reviews-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
}

.reviews-badge {
  position: relative;
  display: inline-block;
}

.reviews-image {
  display: block;
  width: 65px;
  height: auto;
}

.reviews-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: white;
  font-family: IntroBlackItalic, serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 14.52px;
  letter-spacing: -0.05em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.reviews-text {
  font-family: Geologica, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  line-height: 16.8px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #9399B9;
}

.executor {
  font-family: Geologica, serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 19.2px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}

.executor-name {
  font-family: Geologica, serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 20%;
  text-decoration-thickness: 8%;
  text-underline-position: from-font;
  text-decoration-skip-ink: auto;
}

.route-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  //padding: 20px;
  border-radius: 10px;
}

.departure, .arrival {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}


.time {
  font-family: Geologica, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 19.2px;
  letter-spacing: -0.07em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000;
}

.date {
  color: #9399B9;
  font-family: Geologica, serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  line-height: 14.4px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.travel-time {
  font-size: 24px;
  font-weight: bold;
  color: #9399B9;
}

.location-section {
  width: 100%;
}

.location {
  font-family: Geologica, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 19.2px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  //width: 60%;
  z-index: 10;
}

.circle, .arrow {
  width: 16px;
  height: 16px;
  border: 3px solid #9399B9;
  border-radius: 50%;
  background: #fff;
}

.arrow {
  transform: rotate(225deg);
  border-color: #F9F9FF #F9F9FF #9399B9 #9399B9;
  border-radius: unset;
  margin-left: -16px;
}

.line-bar {
  height: 3px;
  background: #9399B9;
  flex: 1;
  z-index: 10;
}

.icon img {
  width: 24px;
  height: 24px;
}

.text {
  font-family: Geologica, serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.weight {
  font-family: Geologica, serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  line-height: 28.8px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #9399B9;
}

.weight span {
  font-family: Geologica, serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.service-cost {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Geologica, serif;
}

.title {
  font-size: 16px;
  font-weight: 200;
  line-height: 19.2px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}

.cost {
  display: flex;
}

.amount {
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 43.2px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #9399B9;
}

.unit {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #9399B9;
}


.icon-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #DDE0F2;
  border-radius: 12px;
  width: 100px;
  height: 120px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 24px;
  height: 24px;
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid #9399B9;
  margin: 5px 0;
}
