<div class="p-4">
  <div class="pb-3">Введите информацию о размерах груза</div>
  <div class="input-group mb-3">
    <span class="input-group-text bg-light border-0">
      <i class="bi bi-box"></i>
    </span>
    <input
      type="text"
      class="form-control border-0"
      placeholder="Длинна"
      aria-label="Длинна"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text bg-light border-0">
      <i class="bi bi-box"></i>
    </span>
    <input
      type="text"
      class="form-control border-0"
      placeholder="Ширина"
      aria-label="Ширина"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text bg-light border-0">
      <i class="bi bi-box"></i>
    </span>
    <input
      type="text"
      class="form-control border-0"
      placeholder="Высота"
      aria-label="Высота"
    />
  </div>

  <div class="col-12 col-md-auto float-end">
    <button
      type="button" class="btn btn-primary px-4 fw-bold"
    >
      Применить
    </button>
  </div>
</div>
