<section class="py-5 bg-white">
  <div class="container">
    <!-- Заголовок -->
    <div class="row text-start mb-5">
      <div class="col">
        <h2 class="display-5 fw-bold advantages">
          Преимущества использования BlaBlaGruz:
        </h2>
      </div>
    </div>

    <!-- Карточки с преимуществами -->
    <div class="row text-center">
      <!-- Первая карточка -->
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="h-100">
          <div class="text-start">
            <div class="icon mb-3">
              <i class="bi bi-hourglass-split" style="  color: #303878;"></i>
            </div>
            <h5 class="fw-bold title">Экономия времени</h5>
            <p class="text-muted description">
              Никаких звонков и долгих поисков – все необходимое для организации перевозки находится в одном приложении.
            </p>
          </div>
        </div>
      </div>

      <!-- Вторая карточка -->
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class=" h-100">
          <div class="text-start">
            <div class="icon mb-3 text-primary">
              <i class="bi bi-laptop"></i>
            </div>
            <h5 class="fw-bold title">Удобство и простота</h5>
            <p class="text-muted description">
              Интуитивно понятный интерфейс делает использование приложения легким даже для тех, кто не обладает
              техническими навыками.
            </p>
          </div>
        </div>
      </div>

      <!-- Третья карточка -->
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class=" h-100">
          <div class="text-start">
            <div class="icon mb-3 text-primary">
              <i class="bi bi-shield-check"></i>
            </div>
            <h5 class="fw-bold title">Безопасность и надежность</h5>
            <p class="text-muted description">
              Система рейтингов и отзывов помогает выбрать надежного партнера, а встроенные уведомления – всегда
              оставаться в курсе статуса перевозки.
            </p>
          </div>
        </div>
      </div>

      <!-- Четвертая карточка -->
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="h-100">
          <div class="text-start">
            <div class="icon mb-3 text-primary">
              <i class="bi bi-box"></i>
            </div>
            <h5 class="fw-bold title">Гибкость</h5>
            <p class="text-muted description">
              Возможность поиска и создания маршрутов в любое время и в любом месте, что делает организацию перевозок
              максимально удобной и оперативной.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
