.advantages {
  color: #303878;
  font-style: italic;
  font-family: Geologica, serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 46.8px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.title {
  color: #303878;
  font-style: italic;
  font-family: Geologica, serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.description {
  font-style: italic;
  font-family: Geologica, serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

i {
  font-size: 3rem;
  color: #303878;
}
