<header class="header bg-white">
  <div class="container-fluid">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-xxl navbar-light w-100 py-3 px-4">
      <!-- Логотип -->
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="assets/img/logo.svg" alt="logo" class="me-4" />
        <div class="blablagruz d-none d-md-inline">BlaBlaGruz</div>
        <span class="subtitle ms-3 d-none d-md-inline">
          — грузоперевозки просто и удобно
        </span>
      </a>

      <!-- Кнопка-гамбургер -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarMenu"
        aria-controls="navbarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Меню -->
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ms-auto">
          <!-- Мои маршруты -->
          <li class="nav-item" *ngIf="isAuth">
            <button
              class="nav-link d-flex align-items-center"
              (click)="openRoutes()"
            >
              <img
                src="assets/img/routes.svg"
                alt="logo"
                style="width: 20px; height: 20px"
              />
              <span class="ms-2">Мои маршруты</span>
            </button>
          </li>

          <!-- Создать маршрут -->
          <li class="nav-item" *ngIf="isAuth">
            <button
              class="nav-link d-flex align-items-center"
              (click)="createRoute()"
            >
              <img
                src="assets/img/add-route.svg"
                alt="logo"
                style="width: 20px; height: 20px"
              />
              <span class="ms-2">Создать маршрут</span>
            </button>
          </li>

          <li ngbDropdown class="nav-item" role="presentation">
            <button type="button" class="nav-link" ngbDropdownToggle>
              Профиль
            </button>
            <div ngbDropdownMenu>
              <button
                *ngIf="isBrowser && !isAuth"
                class="nav-link d-flex align-items-center"
                ngbDropdownItem
                (click)="open()"
              >
                <span class="ms-2">Авторизация</span>
              </button>
              <button
                *ngIf="isAuth"
                class="nav-link d-flex align-items-center"
                ngbDropdownItem
                (click)="getProfile()"
              >
                <span class="ms-2">Профиль</span>
              </button>
              <button
                *ngIf="isAuth"
                class="nav-link d-flex align-items-center"
                ngbDropdownItem
                (click)="logout()"
              >
                <span class="ms-2">Выйти</span>
              </button>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center">
              <span class="ms-2"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
