<app-header></app-header>
<main>
  <app-search></app-search>
  <ng-container *ngIf="!appService.routes.length">
    <app-advantages></app-advantages>
    <app-store></app-store>
    <app-blog></app-blog>
  </ng-container>
  <app-routes *ngIf="appService.routes.length"></app-routes>

  <div *ngIf="appService.isLoading" style="height: 100vh">
    <div class="loader-overlay">
      <div class="spinner-border text-primary spinner-shadow" role="status">
      </div>
    </div>
  </div>

</main>
<app-footer></app-footer>
